.audiotheme-wrap {
	margin: 0;
}


/* Hero Section
-------------------------------------------------------------- */

.audiotheme-dashboard-hero {
	background-image: url(../images/dashboard-hero.jpg);
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: -10px -20px 50px -22px;
	padding: 60px 40px 64px;
	position: relative;
	text-align: center;
}

.audiotheme-dashboard-hero-branding {
	color: #fff;
	margin: 0 auto;
	max-width: 800px;

	p {
		font-size: 30px;
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: 0;
	}
}

.audiotheme-dashboard-hero-logo {
	margin: 0 auto;
	width: 191px;

	.wrap & {
		margin: 0 auto;
		padding: 0;
	}
}

@media (min-height: 700px) {
	.audiotheme-dashboard-hero {
		padding-top: 80px;
		padding-bottom: 100px;
	}
}


/* Lead
-------------------------------------------------------------- */

.audiotheme-dashboard-lead {
	color: #545454;
	font-weight: 300;
	margin: 0 auto 60px auto;
	max-width: 900px;
	text-align: center;

	p {
		font-size: 24px;
		line-height: 1.5;
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}


/* Body Section
-------------------------------------------------------------- */

.audiotheme-dashboard-body {
	font-size: 15px;
	margin: 25px 40px 0 20px;
	max-width: 1050px;
	position: relative;
}

.audiotheme-feature-section {
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 40px;
	overflow: hidden;
	padding-bottom: 40px;

	h3 {
		margin-top: 0;
		padding-top: 0;
	}

	img {
		float: left;
		width: 50%;
		margin: 0 30px 20px 0;
	}

	img.stagger-right {
		float: right;
		margin: 0 0 20px 30px;
	}

	p {
		font-size: 14px;
		line-height: 1.6em;
	}

	p:last-child {
		margin-bottom: 0;
	}
}


/* Footer Section
-------------------------------------------------------------- */

.audiotheme-dashboard-addendum,
.audiotheme-dashboard-addendum * {
	box-sizing: border-box;
}

.audiotheme-dashboard-addendum {
	background: #fff;
	border-color: #dedede;
	border-style: solid;
	border-width: 1px 0 0 0;
	color: #737780;
	margin: 0 -20px 40px -22px;
	position: relative;
	text-align: center;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.audiotheme-dashboard-addendum aside {
	border-color: #dedede;
	border-style: solid;
	border-width: 0 0 1px 0;
	padding: 40px 30px;

	> :last-child {
		margin-bottom: 0;
	}

	h1 {
		color: #222;
		font-weight: 300;
		margin-top: 0;
	}

	p {
		font-size: 14px;
		line-height: 1.5;
	}
}

.audiotheme-dashboard-footer {
	color: #737780;
	text-align: center;

	a {
		color: #737780;
	}
}

.audiotheme-footer-logo {
	display: inline-block;
	margin: 0 auto;
	width: 50px;
}

@media screen and (min-width: 1000px) {
	.audiotheme-dashboard-addendum {
		border-width: 1px 0;
	}

	.audiotheme-dashboard-addendum aside {
		border-width: 0;
		float: left;
		width: 50%;

		&:first-child:after {
			border-left: 1px solid #dedede;
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
		}
	}
}


/* Miscellaneous
-------------------------------------------------------------- */

table.audiotheme-system-info {
	margin-bottom: 20px;

	tbody th {
		font-family: sans-serif;
		font-size: 12px;
		width: 20%;
	}
}

.spinner {
	&.audiotheme-license-spinner {
		float: none;
		margin-top: 0;
		vertical-align: middle;
	}

	&.is-visible {
		display: inline-block;
	}
}
