/* Videos
-------------------------------------------------------------- */

.audiotheme-video-preview-empty {
	border: 4px dashed #ddd;
	color: #aaa;
	font-size: 20px;
	padding: 20px 0;
	text-align: center;
}

#audiotheme-select-oembed-thumb {
	clear: both;
	display: none;
	float: none;
	margin-bottom: 10px;
	width: 100%;

	.spinner {
		display: none;
		float: none;
		margin-left: 5px;
		margin-top: 0;
		vertical-align: middle;
	}
}
