body.edit-audiotheme_record select[name="m"],
body.edit-audiotheme_record #post-query-submit { display: none;}

body.audiotheme_track h2 a,
body.edit-audiotheme_track h2 a,
body.edit-audiotheme_track select[name="m"] { display: none;}

.audiotheme-field label { display: block;  margin-bottom: 3px;  font-weight: bold; }
.audiotheme-field input[type="text"], 
.audiotheme-field input[type="url"], .audiotheme-field input[type="date"] { margin-bottom: 3px; width: 100%;}

.audiotheme-meta-field { clear: both; }
.audiotheme-meta-field input.widefat { margin-bottom: 3px; }
.audiotheme-meta-field-upload input.widefat { margin-bottom: 8px; }

/* Screen Icons */
#icon-gigs { background: transparent url(../images/icons32.png) no-repeat -13px -6px;}
#icon-venues { background: transparent url(../images/icons32.png) no-repeat -73px -6px;}
#icon-edit.icon32-posts-audiotheme_gallery { background: transparent url(../images/icons32.png) no-repeat -133px -6px;}
#icon-edit.icon32-posts-audiotheme_record { background: transparent url(../images/icons32.png) no-repeat -193px -6px;}
#icon-edit.icon32-posts-audiotheme_track { background: transparent url(../images/icons32.png) no-repeat -253px -6px;}
#icon-edit.icon32-posts-audiotheme_video { background: transparent url(../images/icons32.png) no-repeat -313px -6px;}

/* Menu Icons */
#toplevel_page_gigs div.wp-menu-image,
#adminmenu #menu-posts-audiotheme_gallery div.wp-menu-image,
#adminmenu #toplevel_page_edit-post_type-audiotheme_record div.wp-menu-image,
#adminmenu #menu-posts-audiotheme_video div.wp-menu-image { background-color: transparent; background-image: url("../images/menu.png"); background-repeat: no-repeat;}

#toplevel_page_gigs div.wp-menu-image { background-position: -30px -32px;}
#toplevel_page_gigs:hover div.wp-menu-image,
#toplevel_page_gigs.wp-has-current-submenu div.wp-menu-image { background-position: -30px 0;}

#adminmenu #menu-posts-audiotheme_gallery div.wp-menu-image { background-position: -60px -32px;}
#adminmenu #menu-posts-audiotheme_gallery:hover div.wp-menu-image,
#adminmenu #menu-posts-audiotheme_gallery.wp-has-current-submenu div.wp-menu-image { background-position: -60px 0;}

#adminmenu #toplevel_page_edit-post_type-audiotheme_record div.wp-menu-image { background-position: 0 -32px;}
#adminmenu #toplevel_page_edit-post_type-audiotheme_record:hover div.wp-menu-image,
#adminmenu #toplevel_page_edit-post_type-audiotheme_record.wp-has-current-submenu div.wp-menu-image { background-position: 0 0;}

#adminmenu #menu-posts-audiotheme_video div.wp-menu-image { background-position: -90px -32px;}
#adminmenu #menu-posts-audiotheme_video:hover div.wp-menu-image,
#adminmenu #menu-posts-audiotheme_video.wp-has-current-submenu div.wp-menu-image { background-position: -90px 0;}

#toplevel_page_gigs div.wp-menu-image img,
#adminmenu #menu-posts-audiotheme_gallery div.wp-menu-image img,
#adminmenu #toplevel_page_edit-post_type-audiotheme_record div.wp-menu-image img,
#adminmenu #menu-posts-audiotheme_video div.wp-menu-image img { display: none;}

/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	#toplevel_page_gigs div.wp-menu-image,
	#adminmenu #menu-posts-audiotheme_gallery div.wp-menu-image,
	#adminmenu #toplevel_page_edit-post_type-audiotheme_record div.wp-menu-image,
	#adminmenu #menu-posts-audiotheme_video div.wp-menu-image { background-image: url("../images/menu-2x.png"); background-size: 120px 64px;}
}*/